<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squadpage</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/scripts/script.js"></script>
  </head>
  <body>
    <header>
      <h1>Squadpage</h1>
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">filter</button>
        <div id="myDropdown" class="dropdown-content">
          <section class="card-filter">
            <form>
              <label class="filter-tag">Squad:</label><br>
              <input type="radio" id="squadA" name="squad" value="squad-a-2022">
              <label for="squadA"> Squad A</label><br>
              <input type="radio" id="squadB" name="squad" value="squad-b-2022">
              <label for="squadB"> Squad B</label><br>
              <input type="radio" id="squadC" name="squad" value="squat-c-2022">
              <label for="squadC"> Squad C</label><br>
              <input type="radio" id="founders" name="squad" value="founders-2021">
              <label for="founders"> Founders </label><br>
              <input type="radio" id="minorweb" name="squad" value="minor-web-2023">
              <label for="minorweb"> Minor Web </label><br><br>
        
              <label for="sort-select" class="filter-tag">Sort by:</label>
          
              <select name="orderBy" id="sort-select">
                <option value="name-AZ">Voornaam A-Z</option>
                <option value="name-ZA">Voornaam Z-A</option>
                <option value="surname-AZ">Achternaam A-Z</option>
                <option value="surname-ZA">Achternaam Z-A</option>
                <option value="nickname-AZ">Bijnaam A-Z</option>
                <option value="nickname-ZA">Bijnaam Z-A</option>
          
          
              </select>
          
              <input type="submit" value="submit">
            </form>
          </section>
          
        </div>
      </div>
    </header>
  